.button-group {
  .button {
    margin-left: 1rem;
    &:first-child {
      margin-left: 0;
    }
  }
}

.button {
  padding: .5rem 1rem;
  display: inline-block;
  transition: $transition;
  color: $black;
  box-shadow: 0px 1px 4px #bbb, 0px 1px 4px #bbb;
  &--primary {
    border: 1px solid $blue;
    background: $blue;
    &:hover {
      color: $black;
      background: $blue--hover;
    }
  }
  &--secondary {
    border: 1px solid #ccc;
    background: $white;
    &:hover {
      color: $black;
      background: #eee;
    }
  }
  &--attention {
    background: $red;
    border: 1px solid $red;
    &:hover {
      color: $black;
      background: $red--hover;
    }
  }
  &:disabled {
    color: #777;
    border: 1px solid #bbb;
    background: #bbb;
    cursor: default;
    box-shadow: none;
  }
  &:focus {
    box-shadow: 0px 3px 10px #aaa, 0px 3px 10px #aaa;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  color: $blue;
  transition: $transition;
  opacity: 0;
  visibility: hidden;
  &--active {
    visibility: visible;
    opacity: 1;
  }
}