select, input {
  font: inherit;
  line-height: 1.4;
  padding: .5rem 1rem;
  background: $white;
  border: 1px solid $gray2;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  outline: 0;
  transition: $transition;
  &:focus {
    border-color: $blue;
  }
}

select {
  appearance: none;
  border-radius: 0;
}