button, input, select, textarea{
  line-height: inherit;
  color: inherit;
  font: inherit;
  padding: .4rem 1rem;
  border: 1px solid #ededed;
  outline: 0;
}

.input{
  margin-bottom: 1rem;
}

button{
  cursor: pointer;
  background: #5BE365;
  color: #fff;
  border-color: #60F06B;
  &:hover{
    background: #60F06B;
  }
}