*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none;
}
li {
  clear: both;
}
nav {
  background: #333;
  color: #fff;
  padding: 1rem 0;
}
.nav-wrapper {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  * {
    margin-bottom: 0;
  }
}
button {
  font: inherit;
  line-height: inherit;
  outline: 0;
  cursor: pointer;
}
footer {
  padding: 1rem 0;
  background: #333;
  color: #fff;
}