doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title REACTR
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400", rel="stylesheet", type="text/css")
    link(rel="stylesheet", type="text/css", href="styles/styles.css")
  body
    if user && user.name
      .app-wrapper
        section#app
    else
      .login-wrapper
        h1.jumbo REACTR
        h2 Better Twitter management tools
        p Must log in to continue
        a.button.button--main(href="/token") login
    script(src="scripts/bundle.js")
